<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.infrastructure.cost.repository.mapper.SysElectricityCostMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.system.infrastructure.cost.repository.po.SysElectricityCostPo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pricePerKwh" column="price_per_kwh" jdbcType="DECIMAL"/>
            <result property="totalKwh" column="total_kwh" jdbcType="DECIMAL"/>
            <result property="cost" column="cost" jdbcType="DECIMAL"/>
            <result property="lifeDate" column="life_date" jdbcType="DATE"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,price_per_kwh,total_kwh,
        cost,life_date,create_by,
        create_time,update_by,update_time,
        remark,is_deleted
    </sql>
</mapper>
